DATABASE_URL=postgresql://neondb_owner:npg_6sNSGWwe4BHo@ep-patient-poetry-adwh9kek-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET_KEY=viprakarma_jwt_secret_2024_production
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_5y5g4gY3g3g3g3
RAZORPAY_KEY_SECRET_=your_razorpay_key_secret
NEXT_PUBLIC_ASTRO_ENGINE_URL=https://astro-engine-c5xk.onrender.com
ASTRO_ENGINE_URL=https://astro-engine-c5xk.onrender.com
NODE_ENV=production
